<div class="features-section">
  <h2>Incroyablement facile à utiliser.</h2>
  <p>En seulement 5 minutes, vous pouvez créer votre carte d'identité professionnelle personnalisée.</p>
  <div class="features-container">
    <div class="feature">
      <img src="assets/imgs/choose.png" alt="Icône de modèle" />
      <p>Sélectionnez le type de carte qui vous convient le mieux.</p>
    </div>
    <div class="feature">
      <img src="assets/imgs/ai.png" alt="Icône d'édition" />
      <p>Patientez un moment ! Nous générons votre carte.</p>
    </div>
    <div class="feature">
      <img src="assets/imgs/congras.png" alt="Icône d'impression" />
      <p>Hourra ! Votre carte est prête. Vous pouvez maintenant la télécharger.</p>
    </div>
  </div>
</div>

