<div class="features-section">
  <h2>Incredibly easy to use.</h2>
  <p>In just 5 minutes you can create your professional custom ID Card</p>
  <div class="features-container">
    <div class="feature">
      <img src="assets/imgs/choose.png" alt="Template Icon" />
      <p>Select the card type that suits you best.</p>
    </div>
    <div class="feature">
      <img src="assets/imgs/ai.png" alt="Edit Icon" />
      <p>Hang tight! We’re generating your card.</p>
    </div>
    <div class="feature">
      <img src="assets/imgs/congras.png" alt="Print Icon" />
      <p>Hooray! Your card is ready. You can now download it.</p>
    </div>
  </div>
</div>
