
<section class="cart">
  <img src="/assets/imgs/boma.png" alt="Nat Reynolds" class="boma">
<div class="container">
  <h1 class="title">Editable Creative ID Card Templates</h1>
  <div class="card-grid">
    <!-- Première ligne -->
    <div class="row">
      <div class="card">
        <img src="/assets/imgs/img1.PNG" alt="Card Example 1" class="card-image" />
      </div>
      <div class="card">
        <img src="/assets/imgs/img2.PNG" alt="Card Example 2" class="card-image" />
      </div>
      <div class="card">
        <img src="/assets/imgs/img3.PNG" alt="Card Example 3" class="card-image" />
      </div>
      <div class="card">
        <img src="/assets/imgs/img4.PNG" alt="Card Example 4" class="card-image" />
      </div>
    </div>

    <!-- Deuxième ligne -->
    <div class="row">
      <div class="card">
        <img src="/assets/imgs/img5.PNG" alt="Card Example 5" class="card-image" />
      </div>
      <div class="card">
        <img src="/assets/imgs/img6.PNG" alt="Card Example 6" class="card-image" />
      </div>
      <div class="card">
        <img src="/assets/imgs/img7.PNG" alt="Card Example 7" class="card-image" />
      </div>
      <div class="card">
        <img src="/assets/imgs/img8.PNG" alt="Card Example 8" class="card-image" />
      </div>
    </div>
  </div>
</div>
</section>
