<section class="volcano-section">
  <div class="cloud-shape"></div>
  <div class="content">
    <div class="image-wrapper">
      <img src="assets/imgs/photoo3.jpg" alt="Volcan">
    </div>
    <div class="text-content">
      <h1>Excursions sur les volcans et voyages d'aventure</h1>
      <p>Lectus sit amet est placerat in egestas. Integer eget aliquet nibh praesent tristique magna sit. Congue quisque egestas diam in arcu cursus.</p>
      <a href="#" class="cta-button">Lire la suite</a>
    </div>
  </div>
</section>
