<section class="testimonials-section">
  <div class="one">
  <h2>Témoignages</h2>
  <div class="testimonials">
    <div class="testimonial-card">
      <div class="photo">
        <img src="photo1.jpg" alt="Stella Larson">
      </div>
      <h3>Stella Larson</h3>
      <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
    </div>

    <div class="testimonial-card">
      <div class="photo">
        <img src="photo2.jpg" alt="Olga Jonson">
      </div>
      <h3>Olga Jonson</h3>
      <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
    </div>

    <div class="testimonial-card">
      <div class="photo">
        <img src="photo3.jpg" alt="Paul Smith">
      </div>
      <h3>Paul Smith</h3>
      <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
    </div>

    <div class="testimonial-card">
      <div class="photo">
        <img src="photo4.jpg" alt="Nat Reynolds">
      </div>
      <h3>Nat Reynolds</h3>
      <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
    </div>
  </div>
  </div>
  <img src="/assets/imgs/robot.png" alt="Nat Reynolds" class="robot">
</section>
