<section class="testimonials-section">
  <div class="one">
  <h2>Témoignages</h2>
  <div class="testimonials">
    <div class="testimonial-card">
      <div class="photo">
        <img src="../../../assets/imgs/nassim.jpg" alt="nassim MITA">
      </div>
      <h3>nassim MITA</h3>
      <p>Un site incroyablement pratique ! En seulement quelques minutes, j’ai pu obtenir ce dont j’avais besoin. La navigation est intuitive, et le service client est très réactif. </p>
    </div>

    <div class="testimonial-card">
      <div class="photo">
        <img src="../../../assets/imgs/kaoutar.png" alt="kaoutar ZOUIHER">
      </div>
      <h3>kaoutar ZOUIHER</h3>
      <p>Je suis vraiment satisfaite de l’expérience avec ce site. Tout est bien pensé et facile à utiliser. Je recommande vivement à tous ceux qui recherchent un service de qualité.</p>
    </div>

    <div class="testimonial-card">
      <div class="photo">
        <img src="../../../assets/imgs/mohamed.PNG" alt="mohamed MARBOUH">
      </div>
      <h3>mohamed MARBOUH</h3>
      <p>Une plateforme exceptionnelle avec un design clair et agréable. J’ai particulièrement aimé la façon dont tout est expliqué étape par étape. Je reviendrai certainement pour d’autres projets.</p>
    </div>

    <div class="testimonial-card">
      <div class="photo">
        <img src="../../../assets/imgs/ayoub.PNG" alt="Mohamed Ayoub FRAIJA ">
      </div>
      <h3>Mohamed Ayoub FRAIJA</h3>
      <p>Ce site est un véritable gain de temps. En quelques clics, tout était prêt et fonctionnel. Je suis très satisfait du résultat final et de la facilité d’utilisation. Je recommande à 100 % !</p>
    </div>
  </div>
  </div>
  <img src="/assets/imgs/robot.png" alt="Nat Reynolds" class="robot">
</section>
